/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
*,
*:before,
*:after {
  box-sizing: inherit; }

html,
body {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; }

body {
  background: white;
  height: 100vh;
  overflow: hidden;
  font-family: 'Infini', sans-serif;
  font-size: 16px; }

.annoying {
  background: url("http://marceldochamp.net/static/media/4.a2094653.gif");
  background-size: cover;
  height: 100vh;
  overflow: scroll; }
  .annoying .gif {
    position: fixed;
    top: -55px;
    left: -10px;
    transform: rotate(-180deg); }

.boring {
  height: 100vh;
  overflow: scroll; }
  .boring .gif {
    position: fixed;
    bottom: -55px;
    right: -10px; }

.annoying,
.boring {
  padding-bottom: 100px; }

button {
  position: fixed;
  top: 80px;
  right: 80px; }

pre {
  white-space: pre-wrap; }

.that-part {
  margin-bottom: 20px;
  padding: 60px 10px 0 10px; }

.annoying .that-part {
  max-width: 200px;
  margin: -120px auto 0 auto; }
  .annoying .that-part p {
    display: none; }
  .annoying .that-part:first-of-type {
    position: absolute;
    top: 10%;
    left: 10%; }
    .annoying .that-part:first-of-type a:nth-child(odd) {
      margin-right: -80px;
      margin-top: -50px; }
    .annoying .that-part:first-of-type a:nth-child(even) {
      margin-left: -80px;
      margin-top: 40px; }
  .annoying .that-part:nth-of-type(2) {
    position: absolute;
    top: 20%;
    right: 10%; }
    .annoying .that-part:nth-of-type(2) a:nth-child(odd) {
      margin-right: -120px;
      margin-top: -20px; }
    .annoying .that-part:nth-of-type(2) a:nth-child(even) {
      margin-left: -30px;
      margin-top: 20px; }
  .annoying .that-part:nth-of-type(3) {
    position: absolute;
    bottom: 20%;
    left: 10%; }
    .annoying .that-part:nth-of-type(3) a:nth-child(odd) {
      margin-right: -20px;
      margin-top: -40px; }
    .annoying .that-part:nth-of-type(3) a:nth-child(even) {
      margin-left: -90px;
      margin-top: 60px; }
  .annoying .that-part:nth-of-type(4) {
    position: absolute;
    top: 20%;
    left: 30%; }
    .annoying .that-part:nth-of-type(4) a:nth-child(odd) {
      margin-right: -70px;
      margin-top: -10px; }
    .annoying .that-part:nth-of-type(4) a:nth-child(even) {
      margin-left: -80px;
      margin-top: 30px; }
  .annoying .that-part:nth-of-type(5) {
    position: absolute;
    top: 5%;
    right: 30%; }
    .annoying .that-part:nth-of-type(5) a:first-child {
      margin-right: -180px;
      margin-top: -160px; }
    .annoying .that-part:nth-of-type(5) a:nth-child(2) {
      margin-right: -150px;
      margin-top: 10px; }
    .annoying .that-part:nth-of-type(5) a:nth-child(3) {
      margin-left: -20px;
      margin-top: 10px; }

h1 {
  font-size: 1em;
  margin-bottom: 10px;
  color: #000;
  position: fixed;
  left: 10px;
  top: 10px; }

p {
  font-size: 2em;
  margin-bottom: 10px;
  color: #000; }

a {
  display: block;
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 1.25em; }

.annoying a {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  padding: 15px 5px; }
  .annoying a:hover {
    color: #FFDC00;
    background: white; }

.annoying p {
  color: white; }

.annoying h1 {
  color: white; }

/*# sourceMappingURL=style.css.map*/