*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  background: white;
  height: 100vh;
  overflow: hidden;
  font-family: 'Infini', sans-serif;
  font-size: 16px;
  width: 100%;
}

.annoying {
  background: url('http://marceldochamp.net/static/media/4.a2094653.gif');
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  .gif {
    display: none;
    position: fixed;
    top: -55px;
    left: -10px;
    transform: rotate(-180deg);
  }
}

.boring {
  height: 100vh;
  overflow: scroll;
  padding: 3rem;
  .gif {
    display: none;
    position: fixed;
    bottom: -55px;
    right: -10px;

    &.show {
      display: block;
    }
  }
}

.annoying,
.boring {
  padding-bottom: 100px;
}

button {
  position: fixed;
  top: 10px;
  right: 10px;
}

pre {
  white-space: pre-wrap;
}

.that-part {
  margin-bottom: 20px;
  padding: 10px 10px 0 10px;

  &:first-of-type {
    margin-top: 30px;
  }
}

.annoying {
  .that-part {
    max-width: 200px;
    margin: -120px auto 0 auto;
    p { display: none; }

    &:first-of-type {
      position: absolute;
      top: 10%;
      left: 10%;

      a:nth-child(odd) {
        margin-right: -80px;
        margin-top: -50px;
      }
      a:nth-child(even) {
        margin-left: -80px;
        margin-top: 40px;
      }
    }

    &:nth-of-type(2) {

      position: absolute;
      top: 20%;
      right: 10%;
      a:nth-child(odd) {
        margin-right: -120px;
        margin-top: -20px;
      }
      a:nth-child(even) {
        margin-left: -30px;
        margin-top: 20px;
      }
    }
    &:nth-of-type(3) {
      position: absolute;
      bottom: 10%;
      left:50%;
      a:nth-child(odd) {
        margin-right: -20px;
        margin-top: -40px;
      }
      a:nth-child(even) {
        margin-left: -90px;
        margin-top: 60px;
      }
    }
    &:nth-of-type(4) {
      position: absolute;
      top: 20%;
      left:30%;
      a:nth-child(odd) {
        margin-right: -70px;
        margin-top: -10px;
      }
      a:nth-child(even) {
        margin-left: -80px;
        margin-top: 30px;
      }
    }
    &:nth-of-type(5) {
      position: absolute;
      top: 5%;
      right:30%;
      a:first-child {
        margin-right: -180px;
        margin-top: -160px;
      }
      a:nth-child(2) {
        margin-right: -150px;
        margin-top: 10px;
      }
      a:nth-child(3) {
        margin-left: -20px;
        margin-top: 10px;
      }
    }
  }
}

h1 {
  font-size: 1.25em;
  margin-bottom: 10px;
  color: #39ff14;
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 3rem;
}

p {
  font-size: 2em;
  margin-bottom: 10px;
  color: #000;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 1.25em;
}

.annoying a {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  padding: 25px;

  span {
    display: block;
    transition: transform 8s;
  }

  &:hover {
    color: #FFDC00;

    span {
      transform: rotate(40deg);
      background: white;

      transition: transform 1s;
    }
  }

  &:nth-child(odd) {
    span {
      transform: rotate(20deg);
    }
    &:hover {
      span {
        transform: rotate(-20deg);
      }
    }
  }
}

.boring a {
  transform: none !important;
}

.annoying p {
  color: white;
}

.annoying h1 {
  color: white;
}
